/* ======== START LAYOUT ==========*/
.layout {
  width: 100%;
  max-width: 925px;
  margin: 110px auto 24px auto;
  padding: 0 19px
}

@media screen and (max-width: 480px){
  .layout{
    margin-top: 71px;
  }
}
/* ========= END LAYOUT ===========*/

/* ======== START HEADER ==========*/
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.header .title {
  font: 700 3.6rem 'PT Serif'
}

.header .header-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 375px;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.header .header-texts h2 {
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px){
  .header .title{
    font-size: 2.6rem;
  }
}

/* ========= END HEADER ===========*/

/* ======== START MAIN ==========*/
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,460px);
  column-gap: 30px;
  justify-items: center;
}


#card-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-end;
}

#card-5 {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-end;
} 

.card {
  max-width: 264px;
}

.card header{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.card header img  {   
  max-width: 90%; 
}

.card header span {
  font: normal 400 1.4rem "PT Sans";
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.card span {
  font: 600 1.8rem/2.7rem 'Poppins';
}

@media screen and (max-width: 760px) {
  .main {
    grid-template-rows: repeat(2,320px);
  }

  .card header span {
    font-size: 1rem;
  }

  .card span {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}

@media screen and (max-width: 560px) {
  .main {
    grid-template-rows: repeat(2, 250px);
  }
}

@media screen and (max-width: 437px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,270px);
    column-gap: 20px;
  }

  #card-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #card-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
  }

  #card-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #card-4 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: flex-end;
  } 
  
  #card-5 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-start;
  } 

  #card-6 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: flex-end;
  }
}

@media screen and (max-width: 320px) {
  .main {
    gap: 0;
  }

  .card header {
    flex-direction: column;
  }

  .card header span {
    writing-mode: initial;
  }
}
/* ========= END MAIN ===========*/

/* ======= START FOOTER =========*/
.footer p {
  font: normal 500 1.4rem/1.7rem "Montserrat"; 
  text-align: center;
  color: #A9A9A9;
  padding: 20px;
  margin-top: 30px;
}

.footer p .link {
  font-weight: 700;
  text-decoration: underline;
}
/* ========= END FOOTER ==========*/
